---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageHeader from "@/components/PageHeader.astro";
import TableOfContents from "@/components/TableOfContents.astro";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { slug: post.id },
        props: post
    }));
}

const post = Astro.props;
const { Content, headings } = await render(post);
---

<BaseLayout title={post.data.title}>
    <div class="grid cols-3">
        <PageHeader 
            title={post.data.title}
            subtitle={post.data.description}
            contentType="blog"
            isContentPost={true}
        />
        <TableOfContents headings={headings} />
        <article class="col-span-2">
            <Content />
        </article>
    </div>
</BaseLayout>
