---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageHeader from "@/components/PageHeader.astro";

import { getCollection } from "astro:content";
import { formatDate } from "@/utils/date";

const posts = await getCollection("blog", ({ data }) => {
	return data.draft !== true;
})
posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const pageTitle = "Blog";
const pageSubtitle = "Writings on economics, technology, and other things.";
---

<BaseLayout title={pageTitle}>
	<PageHeader 
		title={pageTitle}
		subtitle={pageSubtitle}
	/>
	<ul class="posts-list">
		{posts.map((post) => (
			<li class="post-item">
				<time datetime={post.data.pubDate.toLocaleDateString()}>
					{formatDate(post.data.pubDate)}
				</time>
				<a href={`/blog/${post.id}`}>{post.data.title}</a>
			</li>
		))}
	</ul>
</BaseLayout>

<style>
	.posts-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.post-item {
		display: grid;
		grid-template-columns: calc(4 * var(--space-8)) 1fr;
		gap: var(--space-3) var(--space-6);
		align-items: start;
		margin-bottom: var(--space-3);
	}

	.post-item time {
		color: var(--color-muted);
		text-transform: uppercase;
		white-space: nowrap;
	}

	@media screen and (max-width: 767px) {
		.post-item {
			grid-template-columns: 1fr;
			gap: 0;
		}
	}
</style>
