---
import BaseLayout from "@layouts/BaseLayout.astro"
import { formatDate } from "@utils/posts"

const pageTitle = "Blog"
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }))
    .sort((a: any, b: any) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate))
---

<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <section>
        <ol class="blog-posts">
            {allPosts.map((post: any) => 
            <li>
                <a href={post.url} class="post-link">
                    <span class="post-date">{formatDate(post.frontmatter.pubDate)}</span>
                    <span class="post-title">{post.frontmatter.title}</span>
                </a>
            </li>
            )}
        </ol>
    </section>
</BaseLayout>

<style>
    a.post-link {
        display: flex;
        flex-direction: row;
        text-decoration: none;
    }
    a.post-link:hover {
        font-weight: 700;
        background-color: var(--color-bg-alt);
        color: var(--color-text);
    }

    ol.blog-posts {
        display: table;
        min-width: 100%;
        padding-left: 0;
    }
    .blog-posts li {
        display: table-row;
    }

    .post-date {
        display: table-cell;
        width: 25%;
        max-width: 25%;
        padding: 0.5rem;
        padding-right: 1rem;
        text-align: right;
        color: var(--color-text-alt);
    }
    .post-title {
        display: table-cell;
        width: 75%;
        max-width: 75%;
        padding: 0.5rem;
    }
</style>
