---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ContentCard from "@/components/ContentCard.astro";
import UpdateItem from "@/components/UpdateItem.astro";

import updates from "@/data/updates.yaml";

import { getCollection } from "astro:content";

const featuredWork = await getCollection("work", ({ data }) => {
	return data.featured === true;
})
featuredWork.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

interface Update {
	date: string;
	text: string;
	url: string;
}

const latestUpdates: Update[] = updates.slice(0, 5);
---

<BaseLayout>
	<div class="grid cols-3">
		<section id="featured-work" class="col-span-2">
			<h2>Featured work</h2>
			<ul class="content-card-grid">
				{featuredWork.map((item) => (<li>
					<ContentCard
						href={`/work/${item.id}`}
						title={item.data.title}
						description={item.data.description}
						primaryTag={item.data.primaryTag}
						date={item.data.pubDate}
					/>
				</li>))}
			</ul>
		</section>
		<section id="updates">
			<h2>Updates</h2>
			<ul class="updates-list">
				{latestUpdates.map((update) => (
					<UpdateItem
						date={update.date}
						text={update.text}
						url={update.url}
					/>
				))}
			</ul>
		</section>
	</div>
</BaseLayout>

<style>
	.content-card-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--space-3);
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
	}

	.content-card-grid li {
		padding: 0;
		margin-top: 0;
	}

	.updates-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	@media screen and (max-width: 767px) {
		.content-card-grid {
			grid-template-columns: 1fr;
		}
	}
</style>
