---
const {
    href,
    title,
    description,
    primaryTag,
    date,
    name = "work"
} = Astro.props;
---

<details name={name}>
    <summary>
        <div class="summary-content">
            <span class="title">{title}</span>
            <span class="meta">{date} &mdash; {primaryTag}</span>
        </div>
    </summary>
    <div class="details-content">
        <p class="description">{description}</p>
        <a href={href} class="link">Read more...</a>
    </div>
</details>

<style>
    details summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;        
        cursor: pointer;
    }

    details summary::-webkit-details-marker {
        display: none;
    }

    details summary::after {
        content: "⌄";
        font-size: var(--step-2);
        transition: transform 120ms;
    }

    details[open] summary::after {
        transform: rotate(180deg);
    }
    
    details:hover summary .summary-content .title {
        font-weight: 650;
        transition: font-weight 120ms ease;
    }
    
    details[open] summary .summary-content .title {
        font-weight: 650;
    }

    .summary-content {
        display: flex;
        flex-direction: column;
        padding: var(--space-1) 0;
    }

    .summary-content .meta {
        color: var(--color-muted);
    }

    details::details-content {
        opacity: 0;
        transform: translateY(-var(--space-2));
        transition: opacity 200ms ease, transform 200ms ease;
    }

    details[open]::details-content {
        opacity: 1;
        transform: translateY(0);
        padding: var(--space-1) 0;
    }

    .details-content {
        /* display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: opacity 250ms ease, grid-template-rows 250ms ease; */
        /* padding: var(--space-1) 0; */
        /* opacity: 0; */
    }

    /* details[open] .details-content {
        grid-template-rows: 1fr;
        opacity: 1;
    } */

    .details-content .description {
        margin: 0;
    }

    .details-content .link {
        margin: 0;
    }
</style>
