---
const {
    href,
    title,
    description,
    primaryTag,
    date,
    name = "work"
} = Astro.props;

import { formatYear } from "@/utils/date";
---

<details name={name}>
    <summary>
        <div class="summary-content">
            <span class="title">{title}</span>
            <span class="meta">{primaryTag} &mdash; {formatYear(date)}</span>
        </div>
    </summary>
    <div class="details-content">
        <p class="description">{description}</p>
        <a href={href} class="link">Read more...</a>
    </div>
</details>

<style>
    details summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;        
        cursor: pointer;
    }

    details summary::-webkit-details-marker {
        display: none;
    }

    details summary::after {
        content: "⌄";
        font-size: var(--step-2);
        transition: transform 120ms;
    }

    details[open] summary::after {
        transform: rotate(180deg);
    }
    
    details:hover summary .summary-content .title {
        font-weight: 500;
        transition: font-weight 120ms ease;
    }
    
    details[open] summary .summary-content .title {
        font-size: var(--step-0);
        font-weight: 500;
    }

    .summary-content {
        display: flex;
        flex-direction: column;
        padding: var(--space-1) 0;
    }

    .summary-content .title {
        line-height: 1.4;
        font-size: var(--step-0);
    }
    
    .summary-content .meta {
        color: var(--color-muted);
        font-family: var(--font-mono);
        font-size: var(--step--1);
        text-transform: uppercase;
        white-space: nowrap;
    }

    details::details-content {
        opacity: 0;
        transform: translateY(-var(--space-2));
        transition: opacity 200ms ease, transform 200ms ease;
    }

    details[open]::details-content {
        opacity: 1;
        transform: translateY(0);
        padding: var(--space-1) 0;
    }

    .details-content .description,
    .details-content .link {
        margin: 0;
    }
</style>
