---
import {Image} from "astro:assets";
import profilePic from "@/assets/eric.jpg";

const {class: className} = Astro.props;
const siteLinks = [
    {href: "/", label: "About"},
    {href: "/blog/", label: "Blog"},
    {href: "/contact/", label: "Contact"}
];
const currentPath = Astro.url.pathname;

function isActive(linkHref: string, currentPath: string): boolean {
    // Normalize trailing slashes.
    const normalize = (path: string) => path.endsWith('/') ? path : path + '/';
    const normalizedLink = normalize(linkHref);
    const normalizedCurrent = normalize(currentPath);
    
    // Exact match for home page.
    if (normalizedLink === '/') {
        return normalizedCurrent === '/';
    }
    // For every other page, match if current parth starts with link path.
    return normalizedCurrent.startsWith(normalizedLink);
}
---

<header class={className}>
    <Image 
        src={profilePic} 
        alt="My profile headshot" 
        width={100} 
        height={100}
        format="webp"
        loading="eager"
        fit="cover" 
        class="profile-pic"
    />
    <div class="profile-headline">
        <span><strong>Eric Ordoñez</strong></span>
        <span>Master's student in data science. Interested in economics, statistics, cities, cooking, and languages.</span>
    </div>
    <nav>
        <ul class="site-links">
            {siteLinks.map((link) =>
            <li>
                <a class={isActive(link.href, currentPath) ? "active" : ""} href={link.href}>{link.label}</a>
            </li>
            )}
        </ul>
    </nav>
</header>
