---
const {
    title,
    subtitle,
    contentType = null,
    primaryTag = null,
    isContentPost = false,
} = Astro.props;
---

<header class:list={["page-header", { "col-span-2": isContentPost }]}>
    <div class="page-header-meta">
        {contentType && <a href={`/${contentType}`}>{contentType}</a>}
        {contentType && primaryTag && <span>/</span>}
        {primaryTag && <span>{primaryTag}</span>}
    </div>
    <h1 class="page-title">{title}</h1>
    {subtitle && <p class="page-subtitle">{subtitle}</p>}
</header>

<style>
    .page-header {
        margin-bottom: var(--space-6);
    }

    .page-header-meta {
        display: flex;
        gap: var(--space-2);
        font-weight: 500;
        font-family: var(--font-mono);
        text-transform: uppercase;
        color: var(--color-muted);
    }

    .page-header-meta a {
        text-decoration: none;
        color: var(--color-muted);
    }

    .page-header-meta a:hover {
        color: var(--color-accent);
    }

    .page-title {
        padding-bottom: var(--space-2);
        margin-bottom: 0;
    }

    .page-subtitle {
        padding-bottom: var(--space-2);
        margin: 0;
        font-size: var(--step-1);
        line-height: 1.5;
        letter-spacing: -0.015em;
        color: var(--color-muted);
    }
</style>
