---
interface Heading {
    depth: number;
    slug: string;
    text: string;
}

const { headings } = Astro.props;
---

<aside class="toc">
    <nav class="toc-desktop card">
        <span class="title">Table of contents</span>
        <ol>
            {headings.map((heading: Heading) => (
                <li class={`depth-${heading.depth}`}>
                    <a href={`#${heading.slug}`}>
                        {heading.text}
                    </a>
                </li>
            ))}
        </ol>
    </nav>
    <details class="toc-mobile card collapsible">
        <summary class="title">Table of contents</summary>
        <ol>
            {headings.map((heading: Heading) => (
                <li class={`depth-${heading.depth}`}>
                    <a href={`#${heading.slug}`}>
                        {heading.text}
                    </a>
                </li>
            ))}
        </ol>
    </details>
</aside>

<style>
    .toc {
        position: sticky;
        top: var(--space-8);
        z-index: 10;
        background: var(--color-bg);
        font-size: var(--step--1);
    }

    .toc ol {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .toc li {
        margin-block: var(--space-1);
    }

    .toc .depth-3 {
        padding-left: var(--space-4);
    }

    .toc a {
        color: var(--color-text);
        text-decoration: none;
        transition: color 150ms;
    }

    .toc a:hover,
    .toc a.active {
        font-weight: 600;
    }

    .toc-desktop {
        display: block;
        padding: var(--space-4);
    }

    .toc-mobile {
        display: none;
        padding: var(--space-2) var(--space-4);
    }

    @media screen and (max-width: 1023px) {
        .toc {
            grid-column: span 1;
            top: 0;
        }

        .toc-desktop {
            display: none;
        }

        .toc-mobile {
            display: block;
        }
    }
</style>

<script>
    const observer = new IntersectionObserver(
        entries => {
            entries.forEach(entry => {
                const link = document.querySelector(
                    `.toc a[href="#${entry.target.id}"]`
                );


                if (entry.isIntersecting) {
                    document
                        .querySelectorAll(".toc a")
                        .forEach(a => a.classList.remove("active"));
                    
                        link?.classList.add("active")
                }
            });
        },
        {
            rootMargin: "0px 0px -70% 0px"
        }
    );

    document
        .querySelectorAll("h2, h3")
        .forEach(h => observer.observe(h));

    const mobileToc = document.querySelector(".toc-mobile");

    mobileToc?.querySelectorAll("a").forEach(link => {
        link.addEventListener("click", () => {
            mobileToc.removeAttribute("open");
        });
    });
</script>
